body {
    background-size: 40px 40px;
    background-color: rgb(58, 58, 58);
    background-image:
      linear-gradient(to right, rgb(46, 46, 46) 0.5px, transparent 1px),
      linear-gradient(to bottom, rgb(46, 46, 46) 0.5px, transparent 1px);
  }

#circle-orbit-container {
    margin: auto;
    position: relative;
    top: 150px;
    height: 500px;
    width: 500px;
    z-index: 9999;
  }

  .child {
    width: 50px;
    height: 50px;
    /* Center vertically and horizontally */
    position: absolute;
    top: 25%;
    left: 25%;
    margin: -25px 0 0 -25px; /* Apply negative top and left margins to truly center the element */
  }
  
  #inner-orbit {
    position: absolute;
    top: 0;
    left: 0;
    width: 294px;
    height: 294px;
    border: 2px #f7f7f7da dashed;
    border-radius: 100%;
    -webkit-animation: orbit 10s linear infinite;
    animation: orbit 10s linear infinite;
    z-index: 3;
  }
  
  .inner-orbit-cirlces {
    position: absolute;
    top: 43px;
    left: 0px;
    height: 45px;
    width: 45px;
    border-radius: 100%;
    background: linear-gradient(90deg, rgba(255,59,59,1) 11%, rgba(252,176,69,1) 79%, rgba(255,252,21,1) 98%);
    z-index: 3;
  }
  
  #middle-orbit {
    position: absolute;
    top: -49px;
    left: -49px;
    width: 392px;
    height: 392px;
    border: 2px #f7f7f7da dashed;
    border-radius: 100%;
    -webkit-animation: orbit 12s linear infinite;
    animation: orbit 12s linear infinite;
    z-index: 2;
  }
  
  .middle-orbit-cirlces {
    position: absolute;
    top: 33px;
    left: 33px;
    height: 45px;
    width: 45px;
    border-radius: 100%;
    background: linear-gradient(90deg, rgba(54,111,255,1) 0%, rgba(58,167,14,1) 83%);
    z-index: 2;
  }
  
  #outer-orbit {
    position: absolute;
    top: -98px;
    left: -98px;
    width: 490px;
    height: 490px;
    border: 2px #f7f7f7da dashed;
    border-radius: 100%;
    -webkit-animation: orbit 25s linear infinite;
    animation: orbit 25s linear infinite;
    z-index: 1;
  }
  
  .outer-orbit-cirlces {
    position: absolute;
    top: 5px;
    left: 125px;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    background: linear-gradient(90deg, rgba(255,147,19,1) 0%, rgba(88,37,1,1) 100%);
    z-index: 1;
  }
  
  /* ---------- Animation ---------- */
  @keyframes orbit {
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }