/* The HTML element selector means all of those elements */
/* li {
    color:blueviolet;
    font-size: 0.75rem;
}

h3 {
    font-size: 1.2rem;
    font-family: wingdings;
} */

img {
    border-radius: 50%;
    border: 5px solid salmon;
    display: block;
    margin: auto;
    width: 50%;
}

/* id selector */
#search {
    background-color: aquamarine;
    color: brown;
    width: 75%;
    min-width: 200px;
    border: 2px solid darkcyan;
}

/* class selectors */
.btn {
    /* come back later */
}

/* wildcard selectors */
* {
    /* for everything */
    /* margin: 0px;
    padding: 0px; */
}

body {
    background-color: blanchedalmond;
    color: rgb(38, 106, 170);

    font-family: 'Share Tech Mono', monospace; /* google fonts */
    font-size: 1rem;

    background-image:url("https://www.pngmart.com/files/7/Abstract-Wave-PNG-Transparent.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

h1 {
    color: #ff0000;
}

.box-1 {
    background-color: rgba(255,255,255,0.2);
    /* text-align: center; */

    margin-top: 5px;
    margin-left: 1rem;
    margin-right: 0px;
    margin-bottom: 5px;
}

.box-2 {
    background-color: rgba(0,0,0,0.2);
    margin: 5px 2rem;
}

.floating-box {
    padding-left:  3rem;
}

.container {
    width: 800px;
    margin: auto;
}

/* Footer h4 - Descendant */
footer h4 /* Child */ {
    font-weight: bolder;
    font-style: italic;
    text-decoration: underline;
    text-transform: uppercase;
    font-size: 1.5rem;
}

label[for = "search"] {
    text-transform: uppercase;
}

#search:focus {
    outline: rgb(255, 255, 255) 2px solid;
}

a:visited {
    color: rgb(20, 75, 20);
}

a:hover {
    color: cadetblue;
    cursor:grab;
}

.flex-container {
    /* for my nav bar */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15vw;
    border-bottom: 1px solid black;
}

.flex-container li {
    list-style: none;
    padding: 2px;
}