body {
    background-size: 40px 40px;
    background-color: rgb(32, 32, 32);
    background-image:
      linear-gradient(to right, rgb(58, 58, 58) 0.5px, transparent 1px),
      linear-gradient(to bottom, rgb(58, 58, 58) 0.5px, transparent 1px);
  }


.center-title {
    margin: auto;
    text-align: center;
    margin-top: 50px;
  }

.fading-header, .blinker {
  display: inline;
  font-family: 'Oxanium', cursive;
  color: white;
  font-size: 40px;
}

#circle-orbit-container {
    margin: auto;
    position: relative;
    top: 100px;
    height: 500px;
    width: 500px;
    z-index: 9999;
  }

  .child {
    width: 50px;
    height: 50px;
    /* Center vertically and horizontally */
    position: absolute;
    top: 25%;
    left: 25%;
    margin: -25px 0 0 -25px; /* Apply negative top and left margins to truly center the element */
  }
  
  #inner-orbit {
    position: absolute;
    top: 0;
    left: 0;
    width: 294px;
    height: 294px;
    border: 2px #f7f7f7da dashed;
    border-radius: 100%;
    -webkit-animation: orbit 10s linear infinite;
    animation: orbit 10s linear infinite;
    z-index: 3;
  }
  
  .inner-orbit-circles {
    position: absolute;
    top: 43px;
    left: 0px;
    height: 45px;
    width: 45px;
    border-radius: 100%;
    background: linear-gradient(90deg, rgba(255,59,59,1) 11%, rgba(252,176,69,1) 79%, rgba(255,252,21,1) 98%);
    z-index: 3;
  }

  .inner-orbit-circles:hover, .outer-orbit-circles:hover, .middle-orbit-circles:hover {
    box-shadow:
    0 0 50px #fff,
    -10px 0 80px #f0f,
    10px 0 80px #0ff;
  }
  
  #middle-orbit {
    position: absolute;
    top: -49px;
    left: -49px;
    width: 392px;
    height: 392px;
    border: 2px #f7f7f7da dashed;
    border-radius: 100%;
    -webkit-animation: orbit 12s linear infinite;
    animation: orbit 12s linear infinite;
    z-index: 2;
  }
  
  .middle-orbit-circles {
    position: absolute;
    top: 33px;
    left: 33px;
    height: 45px;
    width: 45px;
    border-radius: 100%;
    background: linear-gradient(90deg, rgba(54,111,255,1) 0%, rgba(58,167,14,1) 83%);
    z-index: 2;
  }
  
  #outer-orbit {
    position: absolute;
    top: -98px;
    left: -98px;
    width: 490px;
    height: 490px;
    border: 2px #f7f7f7da dashed;
    border-radius: 100%;
    -webkit-animation: orbit 25s linear infinite;
    animation: orbit 25s linear infinite;
    z-index: 1;
  }
  
  .outer-orbit-circles {
    position: absolute;
    top: 5px;
    left: 125px;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    background: linear-gradient(90deg, rgba(255,147,19,1) 0%, rgba(88,37,1,1) 100%);
    z-index: 1;
  }

  .blinker {
    animation: blinker 1.5s linear infinite;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }

  .container {
    margin-top: 200px;
    width: 100%;
    min-height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
  }

  .box {
    display: inline-block;
    outline: 0;
    cursor: pointer;
    text-align: center;
    border: 0;
    padding: 7px 16px;
    min-height: 150px;
    min-width: 15%;
    color: #ffffff;
    background: #008060;
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 0px 0px, rgba(0, 0, 0, 0.2) 0px -1px 0px 0px inset;
  }

  .box:hover {
      background: #006e52;
  }

  /* ---------- Animation ---------- */
  @keyframes orbit {
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }